.statistics-table {
    margin-top: 30px;
}

.statistics-table .stat-name {
    font-weight: bold;
    font-size: 15px;
}

.statistics-table .stat-value {
    font-size: 15px;
    font-family: monospace;
}

#alert-node-unavailable {
    margin-top: 20px;
}